/* ---------------------------------------------------------------------
 Tier
------------------------------------------------------------------------ */
.tier {
    padding: 10px;
}

.tier_flush {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}