/* ---------------------------------------------------------------------
 Header
------------------------------------------------------------------------ */
.header {
    padding: 20px 0;
    background: $COLOR_THEME_DARK_MED;
    color: $COLOR_THEME_LIGHT;
}