/* ---------------------------------------------------------------------
 Field
------------------------------------------------------------------------ */
.field {}

.field-field {
    display: inline-block;
    padding: 5px;
    border: 1px solid $COLOR_THEME_DARK_MED;
}

.field-field_large {
    padding: 15px;
    @include rem(1.8);
}

.field-field_solo {
    display: block;
}

.field-field + .field-field {
    margin-left: 10px;
}

.field-label {
    display: inline-block;
    color: $COLOR_THEME_DARK_MED;
}

.field-label_large {
    @include rem(1.8);
}

.field-legend {
    display: block;
    color: $COLOR_THEME_DARK_MED;
}

.field-legend_large {
    @include rem(1.8);
}

.field-info {
    @include rem(1.2);
}