/* ---------------------------------------------------------------------
H List
------------------------------------------------------------------------ */
.hList {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.hList > * { float: left; }
.hList_tight > * + * { margin-left: 8px; }
.hList_std > * + * { margin-left: 16px; }
.hList_loose > * + * { margin-left: 24px; }
.hList_divided > * + * {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid;
}
