/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */
.footer {
	padding: 20px 0;
    background: $COLOR_THEME_DARK;
    color: $COLOR_THEME_LIGHT;
}