// VARIABLES
// ==========================================

// Theme colors from this swatch: https://color.adobe.com/Coffee-stain-color-theme-2619605/
$COLOR_THEME_LIGHT: #F5ECC3;
$COLOR_THEME_LIGHT_MED: #E9CF92;
$COLOR_THEME_MED: #CA902C;
$COLOR_THEME_DARK_MED: #904420;
$COLOR_THEME_DARK: #4F2512;

// Fonts
$DEFAULT_FONT: 'Lato', Arial, sans-serif;